<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおすすめの組は…</p>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @perfume.question == "1111" %>
    <h6>雪組</h6>
    <p>質実剛健で安定度の高い舞台が特徴の組。日本物に定評がある</p>
    <p>イメージカラーは緑色</p>

    <% elsif @perfume.question == "1112" %>
    <h6>宙組</h6>
    <p>スタイリッシュな男役さんの多さが目立つ組。迫力のあるコーラスに定評がある</p>
    <p>イメージカラーは紫色</p>

    <% elsif @perfume.question == "1121" %>
    <h6>花組</h6>
    <p>「これぞ宝塚」という正統派の組。ダンスに定評がある</p>
    <p>イメージカラーはピンク色</p>

    <% elsif @perfume.question == "1122" %>
    <h6>星組</h6>
    <p>エネルギッシュな演目が多い組。煌びやかな衣装を駆使した舞台に定評がある</p>
    <p>イメージカラーは青色</p>

    <% elsif @perfume.question == "1211" %>
    <h6>月組</h6>
    <p>宝塚歌劇を代表する作品の初演を行ってきている組。圧倒的な演技力に定評がある</p>
    <p>イメージカラーは黄色</p>

    <% elsif @perfume.question == "1212" %>
    <h6>宙組</h6>
    <p>スタイリッシュな男役さんの多さが目立つ組。迫力のあるコーラスに定評がある</p>
    <p>イメージカラーは紫色</p>

    <% elsif @perfume.question == "1221" %>
    <h6>星組</h6>
    <p>エネルギッシュな演目が多い組。煌びやかな衣装を駆使した舞台に定評がある</p>
    <p>イメージカラーは青色</p>

    <% elsif @perfume.question == "1222" %>
    <h6>雪組</h6>
    <p>質実剛健で安定度の高い舞台が特徴の組。日本物に定評がある</p>
    <p>イメージカラーは緑色</p>

    <% elsif @perfume.question == "2111" %>
    <h6>花組</h6>
    <p>「これぞ宝塚」という正統派の組。ダンスに定評がある</p>
    <p>イメージカラーはピンク色</p>

    <% elsif @perfume.question == "2112" %>
    <h6>月組</h6>
    <p>宝塚歌劇を代表する作品の初演を行ってきている組。圧倒的な演技力に定評がある</p>
    <p>イメージカラーは黄色</p>

    <% elsif @perfume.question == "2121" %>
    <h6>花組</h6>
    <p>「これぞ宝塚」という正統派の組。ダンスに定評がある</p>
    <p>イメージカラーはピンク色</p>

    <% elsif @perfume.question == "2122" %>
    <h6>星組</h6>
    <p>エネルギッシュな演目の多い組。煌びやかな衣装を駆使した舞台に定評がある</p>
    <p>イメージカラーは青色</p>    

    <% elsif @perfume.question == "2211" %>
    <h6>月組</h6>
    <p>宝塚歌劇を代表する作品の初演を行ってきている組。圧倒的な演技力に定評がある</p>
    <p>イメージカラーは黄色</p>

    <% elsif @perfume.question == "2212" %>
    <h6>宙組</h6>
    <p>スタイリッシュな男役さんの多さが目立つ組。迫力のあるコーラスに定評がある</p>
    <p>イメージカラーは紫色</p>

    <% elsif @perfume.question == "2221" %>
    <h6>花組</h6>
    <p>「これぞ宝塚」という正統派の組。ダンスに定評がある</p>
    <p>イメージカラーはピンク色</p>

    <% elsif @perfume.question == "2222" %>
    <h6>雪組</h6>
    <p>質実剛健で安定度の高い舞台が特徴の組。日本物に定評がある</p>
    <p>イメージカラーは緑色</p>

    <% end %>

</div>

<%= link_to "診断画面に戻る", perfumes_path %>
<%= link_to "トップページに戻る", yuchins_path %>